# Exercise: Translate the following into Python algebraic or Boolean expressions and then evaluate them

In [ ]:
# The difference between Annie’s age (25) and Ellie’s (21)

In [ ]:
# The total of  14.99,14.99, 27.95, and 19.83

In [ ]:
# The area of a rectangle of length 20 and width 15

In [ ]:
#  2 to the 10th power

In [ ]:
# The minimum of 3, 1, 8, -2, 5, -3, and 0

In [ ]:
# 3 equals 4-2

In [ ]:
#  The value of 17//5 is 3

In [ ]:
#  The value of 17%5 is 3

In [ ]:
# 284 is even

In [ ]:
# 284 is even and 284 is divisible by 3

In [ ]:
# 284 is even or 284 is divisible by 3

# Write Python expressions involving strings s1, s2, and s3 that correspond to:

In [ ]:
s1 = 'good'
s2 = 'bad'
s3 = 'silly'

In [ ]:
#  'll' appears in s3

In [ ]:
# the blank space does not appear in s1

In [ ]:
#  the concatenation of s1, s2, and s3

In [ ]:
# the blank space appears in the concatenation of s1, s2, and s3

In [ ]:
#  the concatenation of 10 copies of s3

In [ ]:
# the total number of characters in the concatenation of s1, s2, and s3

# String s is defined to be 'abcdefgh'. Write expressions using s and the indexing operator [] that return the following strings:

In [ ]:
s = 'abcdefgh'

In [ ]:
# a

In [ ]:
# c

In [ ]:
# h

In [ ]:
# h

# List lst is a list of prices for a pair of boots at different online retailers

In [ ]:
lst = [159.99, 160.00, 205.95, 128.83, 175.49]

In [ ]:
# a. You found another retailer selling the boots for $160.00; 
# add this price to list lst

In [ ]:
# b. Compute the number of retailers selling the boots for $160.00

In [ ]:
# c. Find the minimum price in lst

In [ ]:
# Using c), find the index of the minimum price in list lst

In [ ]:
# e. Using c) remove the minimum price from list lst

In [ ]:
# f. Sort list lst in increasing order

# Write a Python expression that assigns to variable c (Hint: use "import math")

In [ ]:
# a. The length of the hypotenuse in a right triangle 
# whose other two sides have lengths 3 and 4 
# (Hint: use math.sqrt)

In [ ]:
# b. The value of the Boolean expression that 
# evaluates whether the length of the above hypotenuse is 5

In [ ]:
# c. The area of a disk of radius 10 
# (Hint: use math.pi)

In [ ]:
# d. The value of the Boolean expression that checks whether 
# a point with coordinates (5, 5) is inside a circle with center (0,0) and radius 7.