# (1) Use print() and input() with int()

In [ ]:
'''
Write a program that:

requests the user’s first name
requests the user’s last name
prints a message

Hello ### ###
Welcome to the world of Python!

>>> 
Enter your first name: Kenn
Enter your last name: Kim
Hello Kenn Kim
Welcome to the world of Python!

'''

In [ ]:
'''
Write a program that:

requests the user’s first name
requests the user’s last name
prints a message

'Hello ### ###'
'Welcome to the world of Python!'

>>> 
Enter your first name: Kenn
Enter your last name: Kim
'Hello Kenn Kim'
'Welcome to the world of Python!'

'''

In [ ]:
'''
Write a program that:

requests the user’s name
requests the user’s age
computes the user’s age one year from now and prints the message

>>> 
Enter your name: Marie
Enter your age: 17
Marie, you will be 18 next year!

'''

# (2) One-way if statements

In [ ]:
''' 
Write a program that:

requests the user's age
if age is greater than 62, prints 

You can get Social Security benefits!

if age is not greater than 62, prints nothing

>>>
Enter your age: 64
You can get Social Security benefits!

>>>
Enter your age: 60

'''

In [ ]:
''' 
Write a program that:

requests the user's age
if age is greater than 62, prints 

You can get Social Security benefits!
Goodbye.

if age is not greater than 62, prints

Goodbye.

>>>
Enter your age: 64
You can get Social Security benefits!
Goodbye.

>>>
Enter your age: 60
Goodbye.

'''

In [ ]:
''' 
Write a program that:

requests the user's age
if age is greater than 62, prints 

You can get Social Security benefits!
Goodbye.

if age is not greater than 62, prints nothing

>>>
Enter your age: 64
You can get Social Security benefits!
Goodbye.

>>>
Enter your age: 60


'''

In [ ]:
'''
Write a program that:

inputs 'We have large bonuses in this year!' to a variable report
if string 'large bonuses' appears in the variable report, prints 

Vacation time!

'''

In [ ]:
'''
Write a program that:

inputs 20 to a variable hits,
inputs 0 to a variable shield,
if the variable hits is greater than 10 and the variable shield is 0, prints

You're dead...

'''

# (3) Two-way if statement

In [ ]:
'''
Write a program that:

requests current temperature
prints two different message. 

that is, 
if the temperature is higher than 86, prints

It is hot!
Be sure to drink liquids.
Goodbye.

if the temperature is lower than or equal to 86, prints

It is not hot!
Bring a jacket.
Goodbye.

>>> 
Enter current temperature: 90
It is hot!
Be sure to drink liquids.
Goodbye.

>>> 
Enter current temperature: 80
It is not hot!
Bring a jacket.
Goodbye.

'''

In [ ]:
'''
Write a program that:

requests the user’s name
requests the user’s age
prints a message saying whether the user is eligible (i.e. age >= 18) to vote or not.

that is, 
if the user's age is greater than or equal to 18, prints

###, you can vote.

if the user's age is smaller than 18, prints

###, you can't vote.

>>> 
Enter your name: Marie
Enter your age: 17
Marie, you can't vote.

>>> 
Enter your name: Marie
Enter your age: 18
Marie, you can vote.

'''

# (4) for loop statement

In [ ]:
'''
Write a “spelling” program that:

requests a word from the user
prints the characters in the word from left to right, one per line

>>> 
Enter a word: clemson
The word spelled out: 
c
l
e
m
s
o
n

'''

In [ ]:
'''
Write a “spelling” program that:

requests a list from the user
prints the items in the list from left to right, one per line

>>> 
Enter a list: ['apple', 'pear', 'strawberry']
The word spelled out: 
apple
pear
strawberry

'''

# (5) Using range() function, write for loops that will print the following sequences:

In [ ]:
# 0, 1, 2, 3, 4, 5, 6, 7, 8 , 9, 10

In [ ]:
# 1, 2, 3, 4, 5, 6, 7, 8, 9

In [ ]:
# 0, 2, 4, 6, 8

In [ ]:
# 1, 3, 5, 7, 9

In [ ]:
# 20, 30, 40, 50, 60

# (6) Defining new functions

In [ ]:
'''
Write function hello() that:

takes a name (i.e., a string) as input
prints a personalized welcome message (i.e. Welcome, ###, to the world of Python.)

Note: hello function does not return anything

>>> hello('Julie')
Welcome, Julie, to the world of Python.

'''

In [ ]:
'''
Write function rng() that:

takes a list of numbers as input
returns the range of the numbers in the list

Note: The range is the difference between the largest and smallest number in the list

>>> rng([4, 0, 1, -2])
6

'''