# Pandas DataFrame

In [1]:
'''
Q1. (1) Please read employee.csv in your working directory into Pandas DataFrame (i.e., employee_db).
        - When you read employee.csv, you need to use UNIQUE_ID Column 
          as the row labels (i.e., index) of the DataFrame. 
    (2) Please print a concise summary of employee_db.
    (3) Please print the first five rows of the DataFrame.

'''

# hint: you can use index_col when you read a csv file.
# hint: you can use info()
# hint: you can use head()

'\nQ1. (1) Please read employee.csv in your working directory into Pandas DataFrame (i.e., employee_db).\n        - When you read employee.csv, you need to use UNIQUE_ID Column \n          as the row labels (i.e., index) of the DataFrame. \n    (2) Please print a concise summary of employee_db.\n    (3) Please print the first five rows of the DataFrame.\n\n'

In [2]:
import pandas as pd

In [3]:
# 1.1
employees = pd.read_csv("employee.csv")

In [4]:
# 1.2
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UNIQUE_ID          2000 non-null   int64
 1   POSITION_TITLE     2000 non-null   object
 2   DEPARTMENT         2000 non-null   object
 3   BASE_SALARY        1886 non-null   float64
 4   RACE               1965 non-null   object
 5   EMPLOYMENT_TYPE    2000 non-null   object
 6   GENDER             2000 non-null   object
 7   EMPLOYMENT_STATUS  2000 non-null   object
 8   HIRE_DATE          2000 non-null   object
 9   JOB_DATE           1997 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 156.4+ KB

In [5]:
# 1.3
employees.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22

In [6]:
'''
Q2. (1) Please change the data type of BASE_SALARY into float32. 
        - Please make sure not to just create a copy of the column. You should change the DataFrame.
    (2) Please print the data type of BASE_SALARY column.
'''

# hint: you can use astype()
# hint: you can use dtypes

'\nQ2. (1) Please change the data type of BASE_SALARY into float32. \n        - Please make sure not to just create a copy of the column. You should change the DataFrame.\n    (2) Please print the data type of BASE_SALARY column.\n'

In [7]:
# 2.1
employees['BASE_SALARY'] = employees['BASE_SALARY'].astype('float32')

In [8]:
# 2.2
employees['BASE_SALARY'].dtypes

dtype('float32')

In [9]:
'''
Q3. (1) Please add new columns 'DSA_PROGRAM', 'DSA8640' into the DataFrame.
        - When you add columns, default values are 'True'
    (2) Please rename column 'DSA8640' to 'DSA_8640'
    (3) Please print column names of the DataFrame.

'''

"\nQ3. (1) Please add new columns 'DSA_PROGRAM', 'DSA8640' into the DataFrame.\n        - When you add columns, default values are 'True'\n    (2) Please rename column 'DSA8640' to 'DSA_8640'\n    (3) Please print column names of the DataFrame.\n\n"

In [10]:
# 3.1
employees['DSA_PROGRAM'] = True
employees['DSA8640'] = True

In [11]:
# 3.2
employees.rename(columns={'DSA8640':'DSA_8640'}, inplace=True)

In [12]:
# 3.3
employees.columns

Index(['UNIQUE_ID', 'POSITION_TITLE', 'DEPARTMENT', 'BASE_SALARY', 'RACE',
       'EMPLOYMENT_TYPE', 'GENDER', 'EMPLOYMENT_STATUS', 'HIRE_DATE',
       'JOB_DATE', 'DSA_PROGRAM', 'DSA_8640'],
      dtype='object')

In [13]:
'''
Q4. (1) Please add a new row to the DataFrame by following information.

        POSITION_TITLE: ASSISTANT PROFESSOR
        DEPARTMENT: MANAGEMENT
        BASE_SALARY: 100000
        RACE: ASIAN
        EMPLOYMENT_TYPE: Full Time
        GENDER: Male
        EMPLOYMENT_STATUS: Active
        HIRE_DATE: 2006-06-12
        JOB_DATE: 2016-06-12
        DSA_PROGRAM: True
        DSA_8640: True
        
    (2) Please change GENDER of the last row to 'Female'.
    (3) Plesae print the last five rows of the DataFrame.

'''

"\nQ4. (1) Please add a new row to the DataFrame by following information.\n\n        POSITION_TITLE: ASSISTANT PROFESSOR\n        DEPARTMENT: MANAGEMENT\n        BASE_SALARY: 100000\n        RACE: ASIAN\n        EMPLOYMENT_TYPE: Full Time\n        GENDER: Male\n        EMPLOYMENT_STATUS: Active\n        HIRE_DATE: 2006-06-12\n        JOB_DATE: 2016-06-12\n        DSA_PROGRAM: True\n        DSA_8640: True\n        \n    (2) Please change GENDER of the last row to 'Female'.\n    (3) Plesae print the last five rows of the DataFrame.\n\n"

In [14]:
# 4.1
employees.loc[len(employees)] = {
    'POSITION_TITLE': 'ASSISTANT PROFESSOR',
    'DEPARTMENT': 'MANAGEMENT',
    'BASE_SALARY': 100000,
    'RACE': 'ASIAN',
    'EMPLOYMENT_TYPE': 'Full Time',
    'GENDER': 'Male',
    'EMPLOYMENT_STATUS': 'Active',
    'HIRE_DATE': '2006-06-12',
    'JOB_DATE': '2016-06-12',
    'DSA_PROGRAM': True,
    'DSA_8640': True
}

In [15]:
# 4.2
employees.loc[len(employees)-1, 'GENDER'] = 'Female'

In [16]:
# 4.3
employees.tail()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,DSA_PROGRAM,DSA_8640
1996,1996.0,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,Active,2003-09-02,2013-10-06,True,True
1997,1997.0,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,Active,2014-10-13,2015-10-13,True,True
1998,1998.0,POLICE OFFICER,Houston Police Department-HPD,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2009-01-20,2011-07-02,True,True
1999,1999.0,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Hispanic/Latino,Full Time,Male,Active,2009-01-12,2010-07-12,True,True
2000,NaN,ASSISTANT PROFESSOR,MANAGEMENT,100000.0,ASIAN,Full Time,Female,Active,2006-06-12,2016-06-12,True,True

In [17]:
'''
Q5. (1) Please drop the column DSA_8640.
    (2) Please drop the first row of the DataFrame, employee_db.
    (3) Please reset the index of the DataFrame, employee_db.
        - Please make sure not to insert index into dataframe columns
    (4) Please print the first five rows of the DataFrame, employee_db.
    (5) Please create a new DataFrame, 'employee_date', 
        which contains columns having 'DATE' keyword from employee_db DataFrame.
    (6) Please print the last five rows of the DataFrame, employee_date.

'''

# hint: you can use drop parameter
# hint: Please use filter()

"\nQ5. (1) Please drop the column DSA_8640.\n    (2) Please drop the first row of the DataFrame, employee_db.\n    (3) Please reset the index of the DataFrame, employee_db.\n        - Please make sure not to insert index into dataframe columns\n    (4) Please print the first five rows of the DataFrame, employee_db.\n    (5) Please create a new DataFrame, 'employee_date', \n        which contains columns having 'DATE' keyword from employee_db DataFrame.\n    (6) Please print the last five rows of the DataFrame, employee_date.\n\n"

In [18]:
# 5.1
employees = employees.drop(columns=['DSA_8640'])

In [19]:
# 5.2
employees = employees.drop(index=employees.index[0])

In [20]:
# 5.3
employees.reset_index(drop=True, inplace=True)

In [21]:
# 5.4
employees.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,DSA_PROGRAM
0,1.0,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18,True
1,2.0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03,True
2,3.0,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25,True
3,4.0,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22,True
4,5.0,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,Active,1984-11-26,2005-03-26,True

In [22]:
# 5.5
employees_date = employees.filter(regex='DATE')

In [23]:
# 5.6
employees_date.tail()

       HIRE_DATE    JOB_DATE
1995  2003-09-02  2013-10-06
1996  2014-10-13  2015-10-13
1997  2009-01-20  2011-07-02
1998  2009-01-12  2010-07-12
1999  2006-06-12  2016-06-12

In [24]:
'''
Q6. Please create two DataFrames with following information in the Figure below:

'''

'\nQ6. Please create two DataFrames with following information in the Figure below:\n\n'

<img align = 'left' src="pic/dataframe.png" alt="insert" width="700"/>

In [25]:
'''
(1) Plesae create a DataFrame, Fruit_1, by using dictionary as an input of the DataFrame function.
(2) Please create a DataFrame, Fruit_2, by using numpy array as an input of the DataFrame function.
    - Please make sure to import numpy.
(3) Please print DataFrames (i.e., Fruit_1 and Fruit_2).
    - You don't need to use print function. Please just call the DataFrames.
'''

"\n(1) Plesae create a DataFrame, Fruit_1, by using dictionary as an input of the DataFrame function.\n(2) Please create a DataFrame, Fruit_2, by using numpy array as an input of the DataFrame function.\n    - Please make sure to import numpy.\n(3) Please print DataFrames (i.e., Fruit_1 and Fruit_2).\n    - You don't need to use print function. Please just call the DataFrames.\n"

In [26]:
import numpy as np

In [27]:
# 6.1
Fruit_1 = pd.DataFrame({'apples':[3, 2, 0, 1]})

In [28]:
# 6.2
Fruit_2 = pd.DataFrame({'oranges':[0, 3, 7, 2]})

In [29]:
Fruits = pd.concat([Fruit_1, Fruit_2], axis=1)

In [30]:
# 6.3
Fruit_1, Fruit_2

(   apples
 0       3
 1       2
 2       0
 3       1,
    oranges
 0        0
 1        3
 2        7
 3        2)

In [31]:
'''
Q7. (1) Please read diamonds.csv in your working directory into Pandas DataFrame (i.e., diamonds_db).
    (2) Please create another DataFrame, new_diamonds_db, 
        which includes carat, cut, color columns of the first one thousand rows in the diamonds_db.
    (3) Please sort column names in alphabeticl order.
    (4) Please print column names of the DataFrame
    (5) Please print a concise summary of new_diamonds_db.

'''

'\nQ7. (1) Please read diamonds.csv in your working directory into Pandas DataFrame (i.e., diamonds_db).\n    (2) Please create another DataFrame, new_diamonds_db, \n        which includes carat, cut, color columns of the first one thousand rows in the diamonds_db.\n    (3) Please sort column names in alphabeticl order.\n    (4) Please print column names of the DataFrame\n    (5) Please print a concise summary of new_diamonds_db.\n\n'

In [32]:
# 7.1
diamonds_db = pd.read_csv("diamonds.csv")

In [33]:
# 7.2
new_diamonds_db = diamonds_db.loc[:999, ['carat', 'cut', 'color']]

In [34]:
# 7.3
new_diamonds_db = new_diamonds_db.reindex(sorted(new_diamonds_db.columns), axis=1)

In [35]:
# 7.4
new_diamonds_db.columns

Index(['carat', 'color', 'cut'], dtype='object')

In [36]:
# 7.5
new_diamonds_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   1000 non-null   float64
 1   color   1000 non-null   object
 2   cut     1000 non-null   object
dtypes: float64(1), object(2)
memory usage: 23.6+ KB