In [ ]:
import pandas as pd
import numpy as np

# Joining Pandas Objects Together

# (1) Concatenating multiple DataFrames together

In [ ]:
stocks_2016 = pd.read_csv('data/stocks_2016.csv', index_col='Symbol')
stocks_2017 = pd.read_csv('data/stocks_2017.csv', index_col='Symbol')

In [ ]:
stocks_2016

In [ ]:
stocks_2017

In [ ]:
stocks_2016.append(stocks_2017)

In [ ]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html width=950 height=700></iframe>')

In [ ]:
s_list = [stocks_2016, stocks_2017]
pd.concat(s_list)

In [ ]:
stocks_1 = pd.concat([stocks_2016, stocks_2017])
stocks_1

In [ ]:
stocks_1.loc['AAPL']

In [ ]:
stocks_2 = pd.concat([stocks_2016, stocks_2017], axis = 'columns')
stocks_2

In [ ]:
stocks_2.loc[:,'Shares']

In [ ]:
pd.concat([stocks_2016, stocks_2017], keys=['2016', '2017'])

In [ ]:
pd.concat([stocks_2016, stocks_2017], keys=['2016', '2017'], names=['Year'])

In [ ]:
pd.concat([stocks_2016, stocks_2017], keys=['2016', '2017'], names=['Year', 'Symbol_2'])

In [ ]:
stocks_concat = pd.concat([stocks_2016, stocks_2017], keys=['2016', '2017'], names=['Year'])
stocks_concat

In [ ]:
stocks_concat.loc['2016']

In [ ]:
stocks_concat.loc['2016'].loc['AAPL']

In [ ]:
pd.concat([stocks_2016, stocks_2017], join='outer', axis='columns', keys=['2016', '2017'], names=['Year'])

In [ ]:
pd.concat([stocks_2016, stocks_2017], join='inner', axis='columns', keys=['2016', '2017'], names=['Year'])

In [ ]:
stocks_concat_2 = pd.concat([stocks_2016, stocks_2017], axis='columns', keys=['2016', '2017'], names=['Year'])
stocks_concat_2

In [ ]:
stocks_concat_2.loc['AAPL']

In [ ]:
stocks_concat_2.loc['AAPL', '2016']

In [ ]:
stocks_concat_2.loc['AAPL', '2016'].loc['Shares']

# (2) Merging multiple DataFrames together

In [ ]:
from IPython.display import HTML
HTML('<iframe src=https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html width=950 height=700></iframe>')

In [ ]:
faculty = pd.DataFrame({'faculty_n': ['01', '02', '03', '04'],
                     'Name': ['John', 'Jack', 'Jane', 'Grace'],
                     'Gender': ['M', 'M', 'F', 'F']})

course = pd.DataFrame({'class_n':['DSA_01', 'DSA_02', 'DSA_03','DSA_04', 'DSA_05', 'DSA_06'],
                       'faculty_n': ['01', '02', '03', '04', '02', '03'],
                       'date':['MW', 'MWF', 'TT', 'Sat', 'TT', 'MW'],
                       'semester': ['spring', 'fall', 'fall', 'spring', 'spring', 'spring']})

In [ ]:
faculty

In [ ]:
course

In [ ]:
result = pd.merge(faculty, course, on='faculty_n')
result

In [ ]:
faculty = pd.DataFrame({'faculty_n': ['01', '02', '03', '04', '05', '06'],
                     'Name': ['John', 'Jack', 'Jane', 'Grace', 'Jeff', 'Sophia'],
                     'Gender': ['M', 'M', 'F', 'F', 'M', 'F']})

course = pd.DataFrame({'class_n':['DSA_01', 'DSA_02', 'DSA_03','DSA_04', 'DSA_05', 'DSA_06', 'DSA_07'],
                       'faculty_n': ['01', '02', '03', '04', '02', '03', np.nan],
                       'date':['MW', 'MWF', 'TT', 'Sat', 'TT', 'MW', np.nan],
                       'semester': ['spring', 'fall', 'fall', 'spring', 'spring', 'spring', np.nan]})

In [ ]:
faculty

In [ ]:
course

In [ ]:
result = pd.merge(faculty, course, on='faculty_n')
result

<img align = 'left' src="pic/merge.png" alt="insert" width="700"/>

<img align = 'left' src="pic/join.jpg" alt="insert" width="700"/>

In [ ]:
result = pd.merge(faculty, course, how = 'outer', on='faculty_n')
result

In [ ]:
result = pd.merge(faculty, course, how = 'left', on='faculty_n')
result

In [ ]:
result = pd.merge(faculty, course, how = 'right', on='faculty_n')
result