# Pandas DataFrame

In [ ]:
'''
Q1. (1) Please read diamonds.csv in your working directory into Pandas DataFrame (i.e., diamonds_db).
    (2) Please sort diamonds_db by depth and return top 10 diamonds having higher depth.
    (3) Please return a number of diamonds of each cut.
    (4) Please return descriptive statistics of columns x, y, and z.

'''
# for (2), (3), and (4), you don't need to create another dataframe.
# (2) you can use head(). Please think about how to specify a number of outcomes.

In [ ]:
'''
Q2. (1) Please read employee.csv in your working directory into Pandas DataFrame (i.e., employee_db).
    (2) Please return how many null values are in BASE_SALARY column.
    (3) Please change null values in BASE_SALARY column to 0. Please make sure to update the DataFrame.
    (4) Please drop any rows having null values in employee_db. Please make sure to update the DataFrame.
    (5) Please return a concise summary of employee_db.

'''

In [ ]:
'''
Q3. (1) Please read amzn_stock.csv in your working directory into Pandas DataFrame (i.e., amzn_stock_db).
    (2) Please return a number of Dates when 
        1) the gap of High and Low is greater than or equal to 10 and 
        2) Volume is lower than 5000000
    (3) Please create another DataFrame, amzn_stock_db_filtered, 
        which includes Date, Open, Gap (i.e., the gap of High and Low), and Volume in the amzn_stock_db.
        - Please use the condition 1) and 2) in the Q3. (2)

'''

In [ ]:
'''
Q4. (1) Please read aapl_stock.csv in your working directory into Pandas DataFrame (i.e., aapl_stock_db).
    (2) Please create another DataFrame, stock_db by concaternating aapl_stock_db to amzn_stock_db.
        - To distinguish amzn and aapl, please use keys (i.e., Amazon, Apple) as a name (i.e., Company).
    (3) Please return Close and Volume of Apple on 2017-05-15

In [ ]:
'''
Q5. (1) Please read food_prices.csv in your working directory into Pandas DataFrame (i.e., food_prices_db).
        - Please drop the last row, the price of steak at Store B in 2015.
    (2) Please read food_transactions.csv in your working directory into Pandas DataFrame (i.e., food_transactions_db).
    (3) Please create a new DataFrame, 'customer_purchase' with followings:
        1) columns: custid, item, store, quantity, price, Date, purchase
        2) purchase refers how much a customer spent to buy an item at a store in a given Date.
        3) If there is a row having any null values in the DataFrame, customer_purchase, plesae drop the row.

'''

#hint: Please see the sample run of (3) below.

<img align = 'left' src="pic/sample.png" alt="insert" width="400"/>

In [ ]:
'''
Q6. (1) Please read diamonds.csv in your working directory into Pandas DataFrame (i.e., diamonds_db).
    (2) Please visualize followings in a single figure:
        1) Size of the Figure is (20, 10).
        2) Suptitle of the Figure is 'Diamonds - Univariate Analysis'. Its size is 25.
        3) Please visualize following four subplots (2 x 2):
            - Plot_1: bar plot of color, title is Color. Please rotate xticks. Color of bar is red.
            - Plot_2: bar plot of cut, title is Cut. Please rotate xticks. Color of bar is blue.
            - Plot_3: box plot of price, title is Price.
            - Plot_4: horizontal bar plotbar of clarity, title is Clarity. Color of bar is green.

'''
#hint: Please see the sample run of (2) below.

<img align = 'left' src="pic/sample_2.png" alt="insert" width="1000"/>